.Rproj.user
.Rhistory
.RData
.Ruserdata
/raw_data/**
!/raw_data/.gitkeep.txt
/tables/**
!/tables/.gitkeep.txt
/figures/**
!/figures/.gitkeep.txt
draft.aux
draft.bbl
draft.blg
draft.txt
draft.out
draft.pdf
draft.log
